<link rel="stylesheet" href="/css/home.css">
<div class="wrapper">
  <div class="container">
    <h1> Octo Space </h1>

    <br>
    <br>

    <div>
      {{#each topics}}
      <a href="/topics/{{this}}">{{this}}</a>
      {{/each}}
    </div>

    <br>
    <br>

    <br>
    <br>

    <div class="feed">
      {{#each feed.movies}}
      <div class="card">
        <div class="type-tag">{{this.type}}</div>
        <div class="card-title">{{this.title}}</div>
        <p class="card-info">{{this.plot}}</p>
        <div class="director">Director: {{this.director}}</div>
        <div class="actor">Actors: {{this.actors}}</div>
        {{!-- <p class="">{{this.poster}}</p> --}}
        <div class="card-footer">

          <table id="footer-info">
            <tr>
              <th>release date</th>
              <th>runtime</th>
              <th>lang</th>
              <th>genre</th>
            </tr>
            <tr>
              <td>{{this.releaseDate}}</td>
              <td>{{this.runtime}}</td>
              <td>{{this.lang}}</td>
              <td>{{this.genre}}</td>
            </tr>
          </table>


        </div>
        {{#if @currentUser}}
          <div class="like-btn" data-id="{{this._id}}" data-type="movie">Like</div>
        {{/if}}
      </div>
      <br>
      {{/each}}


      {{!-- NEWS --}}


      {{#each feed.news}}
      <div class="card">
      <div class="type-tag">{{this.category}}</div>
      <div class="card-title">{{this.title}}</div>
      <p class="card-info">{{this.firstParagraph}}</p>
      <div class="card-footer">
        <a href="{{this.url}}">Open</a>
        <table id="footer-info">
          <tr>
            <th>source</th>
            <th>publicationDate</th>
            <th>mediaType</th>
          </tr>
          <tr>
            <td>{{this.source}}</td>
            <td>{{this.publicationDate}}</td>
            <td>{{this.mediaType}}</td>
          </tr>
        </table>
      </div>
      {{#if @currentUser}}
        <div class="like-btn" data-id="{{this._id}}" data-type="news">Like</div>
      {{/if}}
      </div>
      <br>
      {{/each}}


      {{!-- BOOKS --}}


      {{#each feed.books}}
      <div class="card">
      <div class="type-tag">Book</div>
      <div class="card-title">{{this.title}}</div>
      <p class="card-info">{{this.plot}}</p>
      <div class="director">Author: {{this.author}}</div>
      <div class="card-footer">
        <table id="footer-info">
          <tr>
            <th>datePublished</th>
            <th>numPages</th>
            <th>ISBN</th>
            <th>genre</th>
          </tr>
          <tr>
            <td>{{this.datePublished}}</td>
            <td>{{this.numPages}}</td>
            <td>{{this.ISBN}}</td>
            <td>{{this.genre}}</td>
          </tr>
        </table>
      </div>
      {{#if @currentUser}}
        <div class="like-btn" data-id="{{this._id}}" data-type="book">Like</div>
      {{/if}}
    </div>
    {{/each}}

    {{!-- PAPERS --}}

    {{#each feed.researchPapers}}
    <div class="card">
      <div class="type-tag">{{this.category}}</div>
      <div class="card-title">{{this.title}}</div>
      <div class="director">Author: {{this.author}}</div>
      <div class="card-footer">
        <a href="{{this.url}}">Open</a>
        <table id="footer-info">
          <tr>
            <th>number of pages</th>
          </tr>
          <tr>
            <td>{{this.numPages}}</td>
          </tr>
        </table>
      </div>
      {{#if @currentUser}}
        <div class="like-btn" data-id="{{this._id}}" data-type="book">Like</div>
      {{/if}}
    </div>
    {{/each}}

    {{!-- MUSIC --}}

    {{#each feed.songs}}
    <div class="card">
      <div class="type-tag">{{this.genre}}</div>
      <div class="card-title">{{this.title}}</div>
      <p class="card-info">{{this.plot}}</p>
      <div class="director">Artist: {{this.artist}}</div>
      <div class="card-footer">
        <a href="{{this.spotifyUrl}}">Open in Spotify</a>
        <table id="footer-info">
          <tr>
            <th>duration</th>
          </tr>
          <tr>
            <td>{{this.duration}}</td>
          </tr>
        </table>
      </div>
      {{#if @currentUser}}
        <div class="like-btn" data-id="{{this._id}}" data-type="book">Like</div>
      {{/if}}
    </div>
    {{/each}}


    </div>
  </div>
</div>

{{#if currentUsername}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="/javascript/like.js"></script>
{{/if}}