<h1> Im home </h1>

{{currentUsername}}

<br>
<br>

{{#each topics}}
  <a href="/topics/{{this}}">{{this}}</a>
{{/each}}

<br>
<br>

{{feed.movies}}
<br>
<br>
{{feed.songs}}
<br>
<br>
{{feed.news}}
<br>
<br>
{{feed.researchPapers}}
<br>
<br>
{{feed.books}}
<a href="/login">signin</a>
